<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"><!-- we'll be needing this!! -->
    <title>{{title}} {{__ 'with'}} Ironhackers</title>
  </head>
  <body>
      <p>{{__ 'test instruction'}}</p>
      <div><a href='/spelen?als=J&uuml;rgen&lang=en'>{{__ 'Player'}} J&uuml;rgen</a></div>
      <div><a href='/spelen?als=Elyas&lang=en'>{{__ 'Player'}} Elyas</a></div>
      <div><a href='/spelen?als=Dominik&lang=en'>{{__ 'Player'}} Dominik</a></div>
      <div><a href='/spelen?als=Monika&lang=en'>{{__ 'Player'}} Monika</a></div>
      <div><a href='/spelen?als=Mike&lang=en'>{{__ 'Player'}} Mike</a></div>
      <div><a href='/spelen?als=Gon&ccedil;alo&lang=en'>{{__ 'Player'}} Gon&ccedil;alo</a></div>
      <div><a href='/spelen?als=Hannah&lang=en'>{{__ 'Player'}} Hannah</a></div>
      <div><a href='/spelen?als=Marc&lang=nl'>{{__ 'Player'}} Marc</a></div>
   </body>
</html>
